.w {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  padding-top: 18px;
  border-bottom: 2px solid #c81523;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.register_area {
  height: 522px;
  margin-top: 20px;
  border: 1px solid #CCC;
}

.area_hd {
  height: 42px;
  border-bottom: 1px solid #CCC;
  padding: 0 10px;
  line-height: 42px;
  background-color: #ECECEC;
}

.area_hd > h3 {
  font-size: 18px;
  font-weight: 400;
}

.area_hd > span {
  font-size: 14px;
}

.area_bd {
  width: 600px;
  height: 388px;
  margin: 50px auto 0;
}

.area_bd > ul > li > label {
  width: 88px;
  display: inline-block;
  text-align: left;
}

.area_bd > ul > li > input {
  width: 242px;
  height: 37px;
  border: 1px solid #ccc;
  margin-right: 15px;
}